<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dinner.snqjf.back.dao.OrderDao">
	<resultMap type="com.dinner.snqjf.back.entity.Order" id="OrderMap">
		<id property="id" column="id"/>
		<result property="orderNum" column="order_num"/>
		<result property="orderPrice" column="order_price"/>
		<result property="realIncome" column="real_income"/>
		<result property="tableNum" column="table_num"/>
		<result property="privateRoom" column="private_room"/>
		<result property="orderTime" column="order_time"/>
		<result property="state" column="state"/>
		<result property="orderUser" column="order_user"/>
		<result property="orderUserId" column="order_user_id"/>
		<result property="consumeUser" column="consume_user"/>
		<result property="consumeUserId" column="consume_user_id"/>
		<result property="consumeTime" column="consume_time"/>
		<result property="score" column="score"/>
	</resultMap>
	
	<update id="checkout" parameterType="com.dinner.snqjf.back.entity.Order">
		update t_order set state=#{state},consume_time=#{consumeTime},consume_user=#{consumeUser},score=#{score} where id = #{state}

	</update>

	<!--根据主键获取对象-->
	<select id="get" parameterType="com.dinner.snqjf.back.entity.Order" resultMap="OrderMap">
		SELECT id,order_num,order_price,real_income,table_num,private_room,order_time,state,order_user,order_user_id,consume_user,consume_user_id,consume_time,score FROM t_order 
		WHERE id=#{id}
	</select>

	<!--保存-->
	<insert id="save" parameterType="com.dinner.snqjf.back.entity.Order">
		INSERT INTO t_order(id,order_num,order_price,real_income,table_num,private_room,order_time,state,order_user,order_user_id,consume_user,consume_user_id,consume_time,score)
		VALUES(#{id},#{orderNum},#{orderPrice},#{realIncome},#{tableNum},#{privateRoom},#{orderTime},#{state},#{orderUser},#{orderUserId},#{consumeUser},#{consumeUserId},#{consumeTime},#{score})
	</insert>

	<!--修改-->
	<update id="update" parameterType="com.dinner.snqjf.back.entity.Order">
		UPDATE t_order SET order_num=#{orderNum},order_price=#{orderPrice},real_income=#{realIncome},table_num=#{tableNum},private_room=#{privateRoom},order_time=#{orderTime},state=#{state},order_user=#{orderUser},order_user_id=#{orderUserId},consume_user=#{consumeUser},consume_user_id=#{consumeUserId},consume_time=#{consumeTime},score=#{score}
		WHERE id=#{id}
	</update>

	<!--删除-->
	<delete id="delete" parameterType="com.dinner.snqjf.back.entity.Order">
		 DELETE FROM t_order WHERE id=#{id}
	</delete>

	<!--分页查询-->
	<select id="findByPage" parameterType="com.dinner.snqjf.back.entity.QueryOrder" resultMap="OrderMap">
		SELECT id,order_num,order_price,real_income,table_num,private_room,order_time,state,order_user,order_user_id,consume_user,consume_user_id,consume_time,score FROM t_order
		WHERE 1=1
		<if test="id!=null and id!='' "  >
		AND id=#{id}
		</if>
		<if test="orderNum!=null and orderNum!='' "  >
		AND order_num like concat(#{orderNum},'%')
		</if>
		<if test="orderPrice!=null and orderPrice!='' "  >
		AND order_price=#{orderPrice}
		</if>
		<if test="realIncome!=null and realIncome!='' "  >
		AND real_income=#{realIncome}
		</if>
		<if test="tableNum!=null and tableNum!='' "  >
		AND table_num=#{tableNum}
		</if>
		<if test="privateRoom!=null and privateRoom!='' "  >
		AND private_room like concat(#{privateRoom},'%')
		</if>
		<if test="orderTime!=null and orderTime!='' "  >
		AND order_time=#{orderTime}
		</if>
		<if test="state!=null and state!='' "  >
		AND state=#{state}
		</if>
		<if test="orderUser!=null and orderUser!='' "  >
		AND order_user=#{orderUser}
		</if>
		<if test="orderUserId!=null and orderUserId!='' "  >
		AND order_user_id=#{orderUserId}
		</if>
		<if test="consumeUser!=null and consumeUser!='' "  >
		AND consume_user like concat(#{consumeUser},'%')
		</if>
		<if test="consumeUserId!=null and consumeUserId!='' "  >
		AND consume_user_id like concat(#{consumeUserId},'%')
		</if>
		<if test="consumeTime!=null and consumeTime!='' "  >
		AND consume_time=#{consumeTime}
		</if>
		<if test="score!=null and score!='' "  >
		AND score=#{score}
		</if>
		<if test="sort!= null">
		order by ${sort} ${order}
		</if>
		limit #{offset},#{limit}
	</select>

	<!--统计-->
	<select id="count" parameterType="com.dinner.snqjf.back.entity.QueryOrder" resultType="int">
		SELECT count(*) FROM t_order
		WHERE 1=1
		<if test="id!=null and id!='' "  >
			AND id=#{id}
		</if>
		<if test="orderNum!=null and orderNum!='' "  >
			AND order_num like concat(#{orderNum},'%')
		</if>
		<if test="orderPrice!=null and orderPrice!='' "  >
			AND order_price=#{orderPrice}
		</if>
		<if test="realIncome!=null and realIncome!='' "  >
			AND real_income=#{realIncome}
		</if>
		<if test="tableNum!=null and tableNum!='' "  >
			AND table_num=#{tableNum}
		</if>
		<if test="privateRoom!=null and privateRoom!='' "  >
			AND private_room like concat(#{privateRoom},'%')
		</if>
		<if test="orderTime!=null and orderTime!='' "  >
			AND order_time=#{orderTime}
		</if>
		<if test="state!=null and state!='' "  >
			AND state=#{state}
		</if>
		<if test="orderUser!=null and orderUser!='' "  >
			AND order_user=#{orderUser}
		</if>
		<if test="orderUserId!=null and orderUserId!='' "  >
			AND order_user_id=#{orderUserId}
		</if>
		<if test="consumeUser!=null and consumeUser!='' "  >
			AND consume_user like concat(#{consumeUser},'%')
		</if>
		<if test="consumeUserId!=null and consumeUserId!='' "  >
			AND consume_user_id like concat(#{consumeUserId},'%')
		</if>
		<if test="consumeTime!=null and consumeTime!='' "  >
			AND consume_time=#{consumeTime}
		</if>
		<if test="score!=null and score!='' "  >
			AND score=#{score}
		</if>
	</select>

	<!--查询-->
	<select id="query" parameterType="com.dinner.snqjf.back.entity.QueryOrder" resultMap="OrderMap">
		SELECT id,order_num,order_price,real_income,table_num,private_room,order_time,state,order_user,order_user_id,consume_user,consume_user_id,consume_time,score FROM t_order
		WHERE 1=1
		<if test="id!=null and id!='' ">
		AND id=#{id}
		</if>
		<if test="orderNum!=null and orderNum!='' ">
		AND order_num=#{orderNum}
		</if>
		<if test="orderPrice!=null and orderPrice!='' ">
		AND order_price=#{orderPrice}
		</if>
		<if test="realIncome!=null and realIncome!='' ">
		AND real_income=#{realIncome}
		</if>
		<if test="tableNum!=null and tableNum!='' ">
		AND table_num=#{tableNum}
		</if>
		<if test="privateRoom!=null and privateRoom!='' ">
		AND private_room=#{privateRoom}
		</if>
		<if test="orderTime!=null and orderTime!='' ">
		AND order_time=#{orderTime}
		</if>
		<if test="state!=null and state!='' ">
		AND state=#{state}
		</if>
		<if test="orderUser!=null and orderUser!='' ">
		AND order_user=#{orderUser}
		</if>
		<if test="orderUserId!=null and orderUserId!='' ">
		AND order_user_id=#{orderUserId}
		</if>
		<if test="consumeUser!=null and consumeUser!='' ">
		AND consume_user=#{consumeUser}
		</if>
		<if test="consumeUserId!=null and consumeUserId!='' ">
		AND consume_user_id=#{consumeUserId}
		</if>
		<if test="consumeTime!=null and consumeTime!='' ">
		AND consume_time=#{consumeTime}
		</if>
		<if test="score!=null and score!='' ">
		AND score=#{score}
		</if>
		<if test="sort!= null">
		order by ${sort} ${order}
		</if>
	</select>
</mapper>