<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> 
<head th:include="include/includebase"></head> 
<body> 
<div class="panel-body" style="padding-bottom:0px;">
	<div class="panel panel-default">
		<div class="panel-heading">消费信息</div>
		<div class="panel-body">
			总计消费:XXXX
			<form class="form-inline" role="form" style="float: left; width: 100%;margin-left: 20px;" method="post" id="queryorderDetail">
			</form>
		</div>
	</div>
</div>
<script th:inline="javascript">
    $(function() {
        $.post("/order/getOrderDetailByOrderId",{orderId:[[${entity.orderId}]]},function(e){
             $.each( e.data,function(index,info){
                 alert(info.num)
			 })

		})
    })
</script>
</body>
</html>
