<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head th:include="include/includeOrderHome">
    <title>餐桌选择</title>
</head>
<body>
<div class="row">
    <div class="col-md-4 clearfix foot-items">
        <div class="col-xs-4 foot-img"><img src="images/2.jpg" class="img-responsive" alt="Responsive image"
                                            data_id="3"></div>
        <div class="col-xs-6 foot-info"><p><strong>饺子</strong></p>
            <p class="colred">53元/份</p>
            <p>
                <small>0人买过</small>
            </p>
        </div>
        <div class="col-xs-2 icons-pick foot-pick">
            <div class="btn_wrap">
                <button class="minus" style="display: none;"><strong></strong></button>
                <i style="display: none;">0</i>
                <button class="list_add list_id_respone" data_id="3" data-toggle="modal" data-target="#myModal">
                    <strong></strong></button>
                <em class="fixBig  fake"></em></div>
        </div>
    </div>
</div>
</body>
</html>